* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-shadow: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:#111;
}


// #header{
//     // position:fixed;
//     // top:0;
//     // left:0;
//     // width:100%;
//     // // padding:30px 100px;
//     // display:flex;
//     // align-items:center;
//     // justify-content: center;
// }

.nav {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.849);
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 15%;
    margin-left: 20px;
    text-align: center;

    h3 {
        color: white;
        font-weight: 300;
        font-size: 24px;
    }

}

.navbar {
    width: 75%;
    text-align: right;

    ul {
        list-style: none;

        li {
            margin-left: 30px;
            display: inline-block;
            transition: all 0.4s ease-in-out;

            a {
                text-decoration: none;
                color: white;
                position: relative;
                transition: all 0.4s ease-in-out;
            }

            a::after {
                content: '';
                position: absolute;
                top: 120%;
                left: 0;
                height: 1px;
                width: 0%;
                background-color: white;
                transition: all 0.4s ease-in-out;
            }

            a:hover::after {
                width: 100%;
                color: rgb(255, 115, 0);
            }

            a:hover {
                color: rgb(255, 115, 0);
            }
        }
    }
}
.nature{
    color:rgb(255, 115, 0);
}

@media screen and (max-width:550px) {
    .navbar {
        visibility: hidden;
        width: 0%;
    }
    .logo{
        width:40%;
    }

    .hamburger-menu {
        width: 35px;
        height: 40px;
        position: absolute;
        top: 17px;
        right: 2rem;
        z-index: 100000;
        cursor: pointer;

        .hamburger {
            width: 30px;
            height: 2px;
            background-color: rgb(255, 115, 0);
            display: inline-block;
            position: relative;
            transition: all 0.6s ease;

            &.open {
                background: transparent;
                transform: rotate(720deg);
            }

            &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 2px;
                background-color: rgb(255, 115, 0);
                top: -8px;
                right: 0;
            }


            &::before {
                content: '';
                position: absolute;
                top: 8px;
                background-color: rgb(255, 115, 0);
                width: 30px;
                height: 2px;
                transition: all 0.5s ease;
            }
        }

        .hamburger.open::before {
            transform: rotate(-45deg) translate(5px, -5px);
        }

        .hamburger.open::after {
            transform: rotate(45deg) translate(7px, 5px);
        }
    }

    .navbar {
        position: fixed;
        width: 100vw;
        visibility: hidden;
        opacity: 0.97;
        top: 0;
        left: 0;
        transition: all 1.5s cubic-bezier(0.84, 0.22, 0.32, 0.58);
        ;

        &.open {
            visibility: visible;

        }

        .navMenu {
            height: 100vh;
            width: 100%;
            background-color: black;
            transform: translateY(-100vh);
            transition: all 0.7s cubic-bezier(0.68, 0.19, 0.46, 0.77);
            justify-content: center;
            align-items: center;
            flex-flow: column;
            display: flex;

            .nav-item {
                transform: translateX(110vw);
                transition: all 0.8s linear;

                a {
                    font-size: 24px;
                }

                &.open {
                    transform: translateX(0);
                }
            }

            &.open {
                transform: translateY(0);
            }

            li {
                margin-top: 50px;
            }
        }
    }

    @for $i from 1 through 4 {
        .navMenu .nav-item:nth-child(#{$i}) {
            transition-delay: ($i * 0.2s) + 0.15s;
        }
    }
}


// COOL IMAGE SLIDER


#overlay {
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.slider-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    background: #111;

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        justify-content: center;
        transition: 1.5s;
        transition-delay: 0s;
        clip-path: circle(0px at center);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            opacity: 0.6;
            z-index: 1;
        }
    }

    .slider-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 65%;
        transform: translate(-50%, -50%);
        z-index: 5;

        h1 {
            color: white;
            font-weight: 600;
            font-size: 50px;
            text-transform: uppercase;
            background: black;
            padding: 15px 50px;
            border: 2px double rgb(255, 115, 0);
            text-align: center;
        }

        p {
            font-size: 16px;
            color: white;
            font-weight: 100;
            text-align: center;
            text-transform: uppercase;
            word-spacing: 10px;
            margin-top: 35px
        }

        .btn-container {
            text-align: center;
            margin-top: 30px;

            .btn {
                padding: 10px 15px;
                outline: none;
                font-weight: 700;
                border: none;
                font-weight: 16px;
                text-transform: uppercase;
                cursor: pointer;
            }

            .btn-1 {
                background-color: black;
                color: white;
                border: 2px solid white;
                transition: all 0.6s ease-in-out;

                &:hover {
                    background-color: rgb(255, 115, 0);
                }
            }

            .btn-2 {
                background: transparent;
                color: white;
                border: 2px solid rgb(255, 115, 0);
                margin-left: 30px;
                transition: all 0.6s ease-in-out;

                &:hover {
                    background-color: rgb(255, 115, 0);
                    border: 2px solid white;
                }
            }
        }
    }

    input[type="radio"] {
        position: relative;
        outline: none;
        cursor: pointer;
        z-index: 10000;
        margin: 5px;
        margin-bottom: 15px;
        font-size: 20px;
    }

    input[type="radio"]:checked+.image-container {
        clip-path: circle(1000px at center);
        z-index: 10;
        transition-delay: 0.8s;
    }
}

@media screen and(max-width:880px) {
    .slider-container {
        .slider-content {
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
            }

            .btn-container {
                .btn {
                    padding: 7px 10px;
                }
            }
        }
    }
}

@media screen and(max-width:600px) {
    .slider-container {
        .slider-content {
            width: 100%;

            h1 {
                font-size: 30px;
            }

            p {
                visibility: hidden;
                margin: 0px;
                padding: 0px;
            }
        }
    }
}

// Global span 
.span {
    color: rgb(255, 115, 0);
    animation-name: span-animation;
    animation-iteration-count: infinite;
    animation-duration:1.5s;
    transition:all 0.5s ease-in-out;
    animation-timing-function: ease-in;
    display:inline-block;
}
@keyframes span-animation{
    0%{
        transform:translateY(0px);
        transform:rotate(0deg);
    }
    10%{
        transform:translateY(1px);
        transform:rotate(-1deg);
    }
    20%{
        transform:translateY(2px);
        transform:rotate(-2deg);
    }
    30%{
        transform:translateY(3px);
        transform:rotate(-3deg);
    }
    40%{
        transform:translateY(4px);
        transform:rotate(-4deg);
    }
    50%{
        transform:translateY(-5px);
        transform:rotate(-5deg);
    }
    60%{
        transform:translateY(4px);
        transform:rotate(-4deg);
    }
    70%{
        transform:translateY(3px);
        transform:rotate(-3deg);
    }
    80%{
        transform:translateY(2px);
        transform:rotate(-2deg);
    }
    90%{
        transform:translateY(1px);
        transform:rotate(-1deg);
    }
    100%{
        transform:translateY(0px);
        transform:rotate(0deg);
    }

}


// TOUR PAGE

#tour {
    margin-top: 100px;

    h1 {
        text-align: center;
        font-size: 60px;
        color:white;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 100px;
    }
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    transition:all 1.2s ease-in-out;
    transform: translateY(30vh);
    opacity:0;
}
.fade{
    transform:translateY(0);
    opacity:1;
}


.card {
    border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    height: 200px;
    width: 45%;
    display: flex;
    margin-bottom: 50px;
    overflow: hidden;
    transition: all 1s linear;
    

    &:hover {
        box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.75);
    }

    img {
        width: 40%;
        height: 100%;
        object-fit:cover;
    }

    .content {
        background: black;
        color: white;
    

        h4 {
            color: rgb(255, 115, 0);
            font-size: 20px;
            margin-top: 14px;
            margin-bottom: 16px;
            font-weight: 400;
            text-transform: uppercase;
            text-align:center;
        }

        p {
            font-size: 12px;
            font-weight: 100;
            text-align: left;
            margin-left: 10px;
            margin-right:10px;
        }

        .rating{
            text-align:left;
            margin:5px 0px;
            margin-left:10px;

            i{
                color:rgb(255, 115, 0);
                font-size:12px;
                margin-right:2px;
            }
        }

        a {
            position: relative;
            padding:6px 12px;
            background:#111;
            display: inline-block;
            font-size:13px;
            text-decoration: none;
            text-transform:uppercase;
            color: white;
            font-weight: 500;
            text-align:left;
            margin:5px auto;
            margin-left:10px;


            span{
                display:block;
                position:absolute;
                background:rgb(255, 115, 0);
            }

            span:nth-child(1){
                left:0;
                bottom:0;
                width:1px;
                height:100%;
                transform:scaleY(0);
                transform-origin:top;
                transition:transform  0.7s ease;
            }
            &:hover span:nth-child(1){
                transform:scaleY(1);
                transform-origin:bottom;
                transition:transform 0.5s ;
            }

            span:nth-child(2){
                left:0;
                top:0;
                width:100%;
                height:1px;
                transform:scaleX(0);
                transform-origin:right;
                transition:transform  0.7s ease;
                transition-delay:0.5s;
                
            }
            &:hover span:nth-child(2){
                transform:scaleX(1);
                transform-origin:left;
                transition:transform 0.5s ;
                transition-delay:0.5s;
            }
            span:nth-child(3){
                right:0;
                bottom:0;
                width:1px;
                height:100%;
                transform:scaleY(0);
                transform-origin:bottom;
                transition:transform  0.7s ease;
            }
            &:hover span:nth-child(3){
                transform:scaleY(1);
                transform-origin:top;
                transition:transform 0.5s ;
        
            }
            span:nth-child(4){
                left:0;
                bottom:0;
                width:100%;
                height:1px;
                transform:scaleX(0);
                transform-origin:left;
                transition:transform  0.7s ease;
                transition-delay:0.5s;
            }
            &:hover span:nth-child(4){
                transform:scaleX(1);
                transform-origin:right;
                transition:transform 0.5s ;
                transition-delay:0.5s;
            }
        }
    }
}



@media screen and(max-width:950px){
    .card{
        width:80%;
        height:250px;

        img{
            width:50%;
        }
    }
}
@media screen and(max-width:680px){
    .card-container{
        width:100%;
    }
    #tour{
        h1{
            font-size:35px;
        }
    }
    .card{
        height:200px;
        width:95%;

        img{
            width:40%;
        }
    }

}

@media screen and(max-width:480px){
    .card-container{
        .card{
            .content{
                h4{
                    font-size:20px;
                }
                p{
                    font-size:10px;
                }
            }

        }
    }
}

// Question 

.question{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/question.jpg');
    height:30vh;
    width:100%;
    margin:100px auto;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;


    h1{
        z-index:2;
        color:white;
        font-weight:100;
        font-size:40px;
        text-transform:uppercase;
        word-spacing:15px;
    }

}

// About Me Page


#about{
    margin-top:100px;
    .about-header{
        font-size:60px;
        text-align:center;
        text-transform:uppercase;
        margin-bottom:100px;
        color:whitesmoke;
    }
}

.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:95%;
    
}

.about-left{
    width:50%;

    h1{
        text-align:center;
        font-size:60px;
        font-weight:700;
        word-spacing:2px;
        color:white;
        margin-bottom:50px;
        text-transform:uppercase;
        
    }
    p{
        color:white;
        margin-bottom:20px;
        margin-left:40px;
    }
    a {
        position: relative;
        padding:6px 12px;
        background:black;
        display: inline-block;
        font-size:17px;
        text-decoration: none;
        text-transform:uppercase;
        color: white;
        font-weight: 500;
        text-align:left;
        margin:5px auto;
        margin-left:50px;


        span{
            display:block;
            position:absolute;
            background:rgb(255, 115, 0);
        }

        span:nth-child(1){
            left:0;
            bottom:0;
            width:1px;
            height:100%;
            transform:scaleY(0);
            transform-origin:top;
            transition:transform  0.7s ease;
        }
        &:hover span:nth-child(1){
            transform:scaleY(1);
            transform-origin:bottom;
            transition:transform 0.5s ;
        }

        span:nth-child(2){
            left:0;
            top:0;
            width:100%;
            height:1px;
            transform:scaleX(0);
            transform-origin:right;
            transition:transform  0.7s ease;
            transition-delay:0.5s;
            
        }
        &:hover span:nth-child(2){
            transform:scaleX(1);
            transform-origin:left;
            transition:transform 0.5s ;
            transition-delay:0.5s;
        }
        span:nth-child(3){
            right:0;
            bottom:0;
            width:1px;
            height:100%;
            transform:scaleY(0);
            transform-origin:bottom;
            transition:transform  0.7s ease;
        }
        &:hover span:nth-child(3){
            transform:scaleY(1);
            transform-origin:top;
            transition:transform 0.5s ;
    
        }
        span:nth-child(4){
            left:0;
            bottom:0;
            width:100%;
            height:1px;
            transform:scaleX(0);
            transform-origin:left;
            transition:transform  0.7s ease;
            transition-delay:0.5s;
        }
        &:hover span:nth-child(4){
            transform:scaleX(1);
            transform-origin:right;
            transition:transform 0.5s ;
            transition-delay:0.5s;
        }
    }

}
.about-right{
    width:40%;
    text-align:right;

    img{
        width:85%;
    }
}

@media screen and (max-width:1300px){
        #about
            h1{
                font-size:40px;
            }
    
}

@media screen and(max-width:750px){
    .about-container{
        .about-left{
            width:100%;

            P{
                max-width:400px;
                text-align:left;
                margin:auto;
            }
            a{
                margin-top:50px;
                margin-left:60px;
                text-align:center;
            }
        }
        .about-right{
            width:0%;
            overflow:hidden;
            visibility:hidden;
        }
    }

    .question{
        height:20vh;

        h1{
            font-size:20px;
        }
    }

}

@media screen and (max-width:450px){
    .about-container{
        .about-left{

            p{
                max-width:300px;
            }
            a{
                margin-left:30px;
            }
        }
    }
    #about{
        h1{
            font-size:30px;
        }
    }
    .question{
        h1{
            font-size:16px;
        }
    }
}

// Contact

#contact{
    margin-top:100px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/contact-img.jpg');
    height: 100vh;
    object-fit: cover;
    width:100%;
    h1{
        text-align:center;
        padding:16px 0px;
        margin-bottom:100px;
        font-size:22px;
        text-transform:uppercase;
        letter-spacing:4px;
        color:rgb(0, 0, 0);
        font-weight:100;
        background:white;
    }
}

.contact-container{
    width:90%;
    height:60%;
    background:rgba(0, 0, 0, 0.719);
    margin:auto;
    display:flex;

}

.contact-left{
    width:65%;
    color:white;

    h2{
        text-align:center;
        margin-top:40px;
        margin-bottom:50px;
        font-size:22px;
        text-transform:uppercase;
        letter-spacing:4px;
        color:rgb(255, 115, 0);
        font-weight:100;

    }
    .col-1, .col-2{
        display:flex;
        text-align:center;
        margin:60px;
        span{
            width:50%;
            font-size:16px;
            position:relative;
            text-transform: uppercase;
            border-left:2px solid rgb(255, 115, 0);
        }
    }
}
.contact-right{
    width:35%;
    background-color:white;

    h2{
        text-align:center;
        margin-top:40px;
        margin-bottom:50px; 
        font-size:22px;
        text-transform:uppercase;
        letter-spacing:4px;
        color:black;
        font-weight:100;
    }
}

.button-container{
    text-align:center;

    a {
        position: relative;
        padding:6px 12px;
        background:black;
        display: inline-block;
        font-size:17px;
        text-decoration: none;
        text-transform:uppercase;
        color: white;
        font-weight: 500;




        span{
            display:block;
            position:absolute;
            background:rgb(255, 115, 0);
        }

        span:nth-child(1){
            left:0;
            bottom:0;
            width:1px;
            height:100%;
            transform:scaleY(0);
            transform-origin:top;
            transition:transform  0.7s ease;
        }
        &:hover span:nth-child(1){
            transform:scaleY(1);
            transform-origin:bottom;
            transition:transform 0.5s ;
        }

        span:nth-child(2){
            left:0;
            top:0;
            width:100%;
            height:1px;
            transform:scaleX(0);
            transform-origin:right;
            transition:transform  0.7s ease;
            transition-delay:0.5s;
            
        }
        &:hover span:nth-child(2){
            transform:scaleX(1);
            transform-origin:left;
            transition:transform 0.5s ;
            transition-delay:0.5s;
        }
        span:nth-child(3){
            right:0;
            bottom:0;
            width:1px;
            height:100%;
            transform:scaleY(0);
            transform-origin:bottom;
            transition:transform  0.7s ease;
        }
        &:hover span:nth-child(3){
            transform:scaleY(1);
            transform-origin:top;
            transition:transform 0.5s ;
    
        }
        span:nth-child(4){
            left:0;
            bottom:0;
            width:100%;
            height:1px;
            transform:scaleX(0);
            transform-origin:left;
            transition:transform  0.7s ease;
            transition-delay:0.5s;
        }
        &:hover span:nth-child(4){
            transform:scaleX(1);
            transform-origin:right;
            transition:transform 0.5s ;
            transition-delay:0.5s;
        }
    }
}


.address-container{
    text-align:center;
      
    div{
        margin-bottom:20px ;
        font-size:18px;
        font-weight:300;

    }
} 

.social-media{
    text-align:center;
    margin-top:60px;

    a{
        margin-right:  20px;
        color:black;
        text-decoration:none;
        transition:all 0.7s ease;
    }
    a:hover{
        color:rgb(255, 115, 0)
     }
}

@media screen and(max-width:700px){
    #about{
        height:80vh;
    }
    .contact-container{
        height:40vh;
    }
    .contact-left{
        visibility:hidden;
        overflow:none;
        width:0%;
    }
    .contact-right{
        width:100%;
    }

}

footer{

    h4{
        width:100%;
        padding:20px 0px;
        background-color:black;    
        font-weight: 100;
        color:white;
        text-align:center;
        font-size:16px;

       
    }
}
